#login-dialog {
	width: 403px;
	margin: 100px auto;
	padding: 15px 20px;
	border: 3px solid #eee;
	border-radius: 10px;
	background-color: #fff;
}

.login-dialog-box {
	float: left;
	display: inline-block;
	margin: 5px;
	color: green;
}

.login-dialog-box label {
	display: block;
}

.login-dialog-box input[type="text"], .login-dialog-box input[type="password"] {
	display: block;
	margin-top: 5px;
	width: 130px;
}

#login-dialog input[type="submit"] {
	margin-top: 21px;
}
