#dashboard-stats {
	float: left;
}

#dashboard-stats dt {
	float: left;
	clear: left;
	width: 140px;
	text-align: right;
	color: green;
	line-height: 1.5;
}

#dashboard-stats dd {
	line-height: 1.5;
	margin-left: 170px;
}

#dashboard-stats dt, #dashboard-stats dd {
	padding: 8px 6px;
}

#dashboard-activity {
	float: right;
	width: 550px;
}

#dashboard-activity .plot-wrapper {
	margin: 10px 0;
}

#dashboard-activity-distance-plot, #dashboard-activity-duration-plot {
	height: 200px;
}

#dashboard-no-logs {
	color: #888;
	font-size: 20px;
	margin: 50px 0;
}
