#log-alternatives img {
	float: right;
	margin-top: 6px;
}

#log-comment {
	line-height: 1.6;
}

#logs-no-logs {
	color: #888;
	font-size: 20px;
	margin: 50px 0;
}

#logs-add-log-button {
	float: right;
	margin-top: 15px;
}

.logs-month {
	margin: 30px 0;
}

.logs-month-box {
	float: left;
	color: #888;
	font-size: 18px;
	text-transform: uppercase;
	text-align: right;
	padding-top: 3px;
	width: 125px;
}

.logs-month-box .year {
	font-size: 14px;
}

.logs-month-logs {
	float: right;
	width: 830px;
	padding: 0 0 0 20px;
	border-left: 1px solid #ccc;
}

.logs-month-logs td {
	vertical-align: top;
}

.logs-month-logs tfoot td {
	font-weight: bold;
	border: none;
}

.logs-month-logs .tags {
	font-size: 11px;
	margin-left: 10px;
}

.logs-month-logs .tags a {
	color: #888;
}

#logs-total {
	border-top: 3px double #eee;
	padding: 5px;
}

#logs-total .duration, #logs-total .distance {
	float: right;
	text-align: right;
	font-weight: bold;
	line-height: 18px;
}

#logs-total .distance {
	width: 110px;
}

.log-dialog .row {
	padding: 10px 0;
	margin: 2px 0;
}

.log-dialog .row.button {
	padding: 10px 0 10px 120px;
}

.log-dialog .label {
	float: left;
	width: 90px;
	padding: 8px 0 0 0;
}

.log-dialog .label p.markdown {
	color: #666;
	font-size: 11px;
	line-height: 1.4;
	margin-top: 8px;
}

.log-dialog .field {
	margin: 0 0 0 120px;
}

.log-dialog .field p.error {
	color: #c00;
	font-size: 11px;
	margin: 4px 0 0 4px;
}

.log-dialog .field .track-help {
	color: #666;
	font-size: 12px;
	margin-top: 8px;
}

.log-dialog input[type="text"] {
	width: 500px;
}

.log-dialog textarea {
	width: 500px;
	height: 200px;
}

.log-dialog .row.track-file .label {
	padding-top: 3px;
}

#log-tags-pane {
	display: none;
}

#log-tags-pane .box {
	width: 500px;
}

#log-tags-pane input[type="text"] {
	width: 466px;
}
