.log-dialog .row {
	background-color: #fff;
	padding: 10px 0;
	margin: 2px 0;
}

.log-dialog .row.button {
	padding: 10px 0 10px 115px;
}

.log-dialog .label {
	float: left;
	width: 90px;
	padding: 8px 0 0 0;
}

.log-dialog .label p.markdown {
	color: #666;
	font-size: 11px;
	line-height: 1.4;
}

.log-dialog .field {
	margin: 0 0 0 120px;
}

.log-dialog .field .track-help {
	color: #666;
	font-size: 12px;
}

.log-dialog input[type="text"] {
	width: 500px;
}

.log-dialog textarea {
	font-size: 14px;
	font-family: sans-serif;
	padding: 6px;
	width: 500px;
	border: 1px solid #ddd;
	border-radius: 4px;
	height: 200px;
}

.log-dialog input[type="submit"] {
	color: #fff;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 6px 20px;
	background-color: green;
	border: none;
	border-radius: 6px;
}

.log-dialog .row.track-file .label {
	padding-top: 3px;
}

#log-left-column {
	float: left;
	width: 640px;
}

#log-right-column {
	float: right;
	width: 260px;
}

#log-map {
	height: 400px;
}

#log-tabs {
	margin: 30px 0;
}

#log-comment {
	line-height: 1.6;
}

#log-distance-elevation-plot {
	width: 618px;
	height: 250px;
}

#log-meta {
	color: #555;
	font-size: 13px;
}

#log-meta dl {
	border-top: 1px solid #ddd;
	margin: 0;
}

#log-meta dt {
	float: left;
	clear: left;
	border-bottom: 1px solid #ddd;
	font-weight: bold;
}

#log-meta dd {
	text-align: right;
	border-bottom: 1px solid #ddd;
}

#log-meta dt, #log-meta dd {
	padding: 8px 6px;
}

#log-actions {
	font-size: 12px;
	margin: 40px 0 0 0;
}

#log-actions ol {
	list-style: none;
	padding: 0;
}

#log-actions li {
	margin: 6px 0;
	text-align: right;
}

#log-tracks-table {
	width: 100%;
}

#logs-navigation {
	font-size: 13px;
	margin: 30px 0;
}

#logs-navigation .next {
	float: right;
}

#logs-no-logs {
	color: #888;
	font-size: 20px;
	margin: 50px 0;
}

.logs-month {
	margin: 20px 0;
	background-color: #eee;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
}

.logs-month-box {
	float: left;
	width: 150px;
	color: #888;
	font-size: 18px;
	text-transform: uppercase;
	padding: 10px;
}

.logs-month-box .year {
	font-size: 14px;
	margin-top: 3px;
}

.logs-month-logs {
	float: right;
	width: 770px;
	background-color: #fff;
}

.logs-month-logs table th {
	color: #888;
	font-weight: normal;
	background-color: #eee;
	border-bottom-width: 1px;
}

.logs-month-logs table td, .logs-month-logs table th {
	border-color: #eee;
}

.logs-month-logs table tfoot td {
	font-weight: bold;
}

#logs-total {
	background-color: #eee;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	padding: 10px;
}

#logs-total span {
	color: #888;
	font-size: 18px;
	text-transform: uppercase;
}

#logs-total .duration, #logs-total .distance {
	float: right;
	text-align: right;
	font-weight: bold;
	line-height: 18px;
}

#logs-total .distance {
	width: 108px;
}
