#profile-details .row {
	padding: 10px 0;
	margin: 2px 0;
	clear: left;
}

#profile-details .label {
	float: left;
	text-align: right;
	width: 170px;
	padding: 8px 0 0 0;
}

#profile-details .field {
	margin: 0 0 0 190px;
}

#profile-details .field p.error {
	color: #c00;
	font-size: 11px;
	margin: 4px 0 0 4px;
}

#profile-details .field.distance-units label {
	display: inline-block;
	margin: 7px 20px 0 0;
}

#profile-details .row.submit {
	padding-left: 190px;
}
