#track-header ul {
	float: right;
	margin: 8px 0 0 0;
}

#track-header li {
	display: inline;
}

#track-header {
	margin: 0 0 15px;
}

#track-header h1 {
	margin: 15px 0 0;
}

#track-header p {
	margin: 0 0 10px;
}

#track-main {
	width: 740px;
}

#track-map {
	height: 420px;
}

#track-side {
	float: right;
	width: 230px;
	margin: 0 0 40px;
}

#track-side h3 {
	color: #fff;
	font-size: 14px;
	background-color: green;
	padding: 5px 10px;
	margin: 0;
}

#track-side h3:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

#track-side .box {
	font-size: 12px;
	background-color: #f5f5f5;
	padding: 10px 20px;
}

#track-side .box:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

#track-side .box ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#track-side .box li {
	margin: 5px 0;
	line-height: 1.5;
}

#track-details {
	font-size: 12px;
}

#track-details dl {
	padding: 5px 0;
	margin: 0;
}

#track-details dt {
	float: left;
	clear: left;
	color: green;
	text-align: right;
	width: 80px;
	margin: 0 10px 0 0;
}

#track-details dt, #track-details dd {
	padding: 4px 0;
}

#track-distance-elevation-plot {
	height: 250px;
}

#track-distance-elevation-plot .axis path,
#track-distance-elevation-plot .axis line {
	fill: none;
	stroke: #aaa;
	shape-rendering: crispEdges;
}

#track-distance-elevation-plot .axis text {
	font-size: 11px;
	fill: #888;
}

#track-distance-elevation-plot .line {
	fill: none;
	stroke: green;
	stroke-width: 2px;
}

#track-rename-pane {
	display: none;
}

#track-rename-pane .box {
	width: 500px;
}

#track-rename-pane input[type="text"] {
	width: 466px;
}

#track-transfer-button {
	margin-top: 30px;
}

.track-transfer-help {
	color: #555;
	font-size: 18px;
	margin: 50px 0 20px;
}

#map-popup {
	position: absolute;
	border: 2px solid #aaa;
	border-radius: 10px;
	width: 150px;
	visibility: hidden;
	font-size: 11px;
	background-color: #fff;
	padding: 10px;
}

#map-popup dl {
	margin: 0;
}

#map-popup dt {
	float: left;
	clear: left;
	color: #666;
	text-align: right;
	width: 50px;
	margin-right: 6px;
}

#map-popup dt, #map-popup dd {
	padding: 1px 0;
}
